.container {
    margin: 50px;
}

.grid {
    margin: 50px;
}

.statistic {
    width: 100%;
    
}

.font1 {
    font-size: 60px;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: .2em;
    margin-bottom: -0.5em;
}

.font2 {
    font-family: 'Bangers', sans-serif;
    letter-spacing: .1em;
    font-size: 30px;
}

.font3 {
    font-family: 'Baloo Bhaina', cursive;
    letter-spacing: .1em;
    font-size: 40px;
}

.font4 {
    font-family: 'Baloo Bhaina', cursive;
    color: rgb(8, 10, 44);
    letter-spacing: .07em;
}